:root{
    --bkg-color: #202020;
    --secondary-color: #2b2a2a;
    --text-color: white;
    --nav-color: firebrick;
    --div-color: rgb(116, 28, 28);
    --button-fill:black;
    --toggle-color:#f5f3f4;
    --code-color:#141517ab;
    --article-color: #26282bab;
}
.darkmode {
    --bkg-color: #f5f3f4;
    --secondary-color: #c7c6c6;
    --text-color: black;
    --nav-color: rgb(240, 63, 63);
    --div-color: rgb(245, 93, 93);
    --toggle-color: #202020;
    --button-fill: white;
    --code-color:#4e5156ab;
    --article-color: #898989ab;
}
.source-code-pro-font {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

#btn-toggle {
    top: 0;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--toggle-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
}
#btn-toggle svg{
    fill: var(--button-fill);
}
#btn-toggle svg:last-child{
    display: none;
}
.darkmode #btn-toggle svg:first-child{
    display: none;
}
.darkmode #btn-toggle svg:last-child{
    display: block;
}

p a{
    text-decoration: none;
}
h1 {
    text-align: center;
}
body {
    min-height: 100vh;
    position: relative;
    width: 100%;
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
    background-color: var(--bkg-color);
    color: var(--text-color);

}
.name {
    top: 0;
    height: 4vh;
    color: var(--text-color);
    padding: 20px;
    margin-top: 5px;
    float: left;
    left: 2vw;
}
footer {
    bottom: 0;
    min-height: 20vh;
    position: absolute;
    width: 100%;
    margin: auto;
    color: var(--text-color);
    text-align: center;
    background-color: var(--secondary-color);
}
footer table{
    text-align: center;
    margin: auto;
}
footer table tr td {
    text-decoration: none;
    border-radius: 50px;
    background-color: var(--nav-color);
    display: inline-block;
    border: none;
    height: 22px;
    min-width: 7vw;
    margin: 0 3px;
    padding: 2px;
    text-align: center;
}
footer table tr td a {
    font-size: 0.875em;
    float: left;
    margin: 0 2px;
}
footer table tr td img {
    float: left;
    margin-top: 1px;
    margin-left: 3px;
    padding-right: 5px;
    height: 2.5vh;
}
nav {
    max-width: 100%;
    justify-items: center;
    text-align: center;
    margin: auto;
    height: 4vh;
    color: var(--text-color);
    padding: 20px;
    z-index: 1;
}
nav ul{
    list-style-type: none;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}
nav ul li{
    text-decoration: none;
    border-radius: 50px;
    background-color: var(--nav-color);
    display: inline-block;
    border: none;
    height: 22px;
    min-width: 7vw;
    margin: 0 3px;
    padding: 2px;
    text-align: center;
    margin: 0 10px;
}
nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}
nav p {
    justify-self: center;
    text-align: center;
    max-width: 50vw;
    margin: 0 5vw;
    font-size: 30px;
}
nav p strong {
    color:firebrick;
}
article {
    max-width: 70%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: var(--div-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.code {
    color: var(--text-color);
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 10em;
    padding: 25px;
    background-color: var(--code-color);
    border-radius: 25px;
    width: 70%;
}
.wrap {
    color: var(--text-color);
    padding: 5px;
    background-color: var(--code-color);
    border-radius: 5px;
}
pre {
    margin: 0;
}
.article-box {
    color: var(--text-color);
    justify-self: center;
    display: flex;
    flex-direction: column;
    min-width: 10em;
    gap: 10px;
    margin: 3em auto;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: var(--article-color);
    border-radius: 25px;
    transition: .4s ease-in-out;
    width: 70%;
}
.article-box p {
    width: 80%;
    line-height: 2;
}
.article-box strong {
    color: firebrick;
}
.article-box:hover {
    transform: scale(1.02);
}
.article-image {
    max-width: 500px;
    margin: auto;
    padding-bottom: 1em;
    border-radius: 25px;
}
.article-list {
    margin-bottom: 3em;
}
.article-links {
    justify-content: center;
    text-align:center;
    min-width: 10em;
    max-width: 30em;
    margin: auto;
    margin-top: 2em;
    background-color: var(--div-color);
    border-radius: 25px;
    height: auto;
    padding: 1em;
    transition: all .5s;
    z-index: -2;
}
.article-links a {
    text-decoration: none;
    color: var(--text-color);
    z-index: -2;
}
.article-links:hover{
    transform: scale(1.1);
    /* transition: transform .4s ease-out; */
    
}
a {
    color: var(--text-color);
/*    padding-bottom: 1em;*/
    text-decoration: none;
}
video {
    width: 500px;
    margin: auto;
    padding-bottom: 1em;
    border-radius: 30px;
}
.article-image-p {
    max-width: 500px;
    height: 300px;
    margin: auto;
    padding-bottom: 1em;
    border-radius: 30px;
}
table .article-image{
    width: 300px;
}
#mysql{
    border: 1px solid;
    border-collapse: collapse;
    margin: auto;
    height: 10vh;
    justify-content: center;
    
}
#mysql tr th, #mysql tr td{
    border: 3px solid;
    border-collapse: collapse;
    width:10vh;
    text-align: center;
    padding: 1vh;
}



  .form {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: var(--article-color);
    border-radius: 25px;
    transition: .4s ease-in-out;
}

.form:hover {
    transform: scale(1.05);
}

#heading {
    text-align: center;
    margin: 1em;
    color: var(--text-color);
    font-size: 1.2em;
}
.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: var(--code-color);
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-color);
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 1em;
  }
  .btn1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 3em;
  }
  
  .button1 {
    text-align: center;
    font-family: "Source Code Pro", monospace;
    padding: 10px 1em;
    border-radius: 5px;
    margin: 0 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: var(--code-color);
    color: var(--text-color);
  }
  
  .button1:hover {
    background-color: var(--div-color);
    color: var(--text-color);
  }
  
  .button2 {
    text-align: center;
    margin: 0 0.5em;
    padding: 10px 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: var(--code-color);
    color: var(--text-color);
    text-decoration: none;
  }
  .button2:hover {
    background-color: var(--div-color);
    color: var(--text-color);
  }
  
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: var(--code-color);
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
  }
  
.button3:hover {
  background-color:  var(--div-color);;
  color: var(--text-color);
}
#error-msg {
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: .8em;
  text-align: center;
}
.signup {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: var(--article-color);
  border-radius: 25px;
  transition: .4s ease-in-out;
}
.backto {
    margin-top: 30px;
    text-decoration: none;
    color: var(--text-color)!important;
}

@media screen and (max-width: 768px) {
    .article-box {
      width: 90%;
      padding: 1em;
    }
  
    .code {
      width: 90%;
      padding: 15px;
    }
  
    nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    nav ul li {
      width: 80%;
      margin: 5px auto;
    }
  
    article {
      max-width: 90%;
      margin-top: 30px;
    }
  
    .article-image,
    video,
    .article-image-p {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  
    .form {
      width: 90%;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 480px) {
    .name {
      width: 100%;
      text-align: center;
      float: none;
      left: 0;
    }
  
    #btn-toggle {
      top: 70px;
    }
  
    footer table tr td {
      min-width: 90%;
      margin: 5px auto;
      display: block;
    }
  
    .article-links {
      width: 90%;
    }
  
    #mysql {
      width: 90%;
      overflow-x: auto;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .article-box,
    .code {
      width: 80%;
    }
  
    article {
      max-width: 80%;
    }
  }